---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SectionServices from '../components/sections/SectionServices.astro';
import SectionBrands from '../components/sections/SectionBrands.astro';
import SectionAbout from '../components/sections/SectionAbout.astro';
import SectionClients from '../components/sections/SectionClients.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Lopez Informatica">
	<Header/>
	<main class=" max-w-md mx-auto w-11/12  md:max-w-2xl lg:max-w-full lg:w-11/12 xl:max-w-7xl" >
		<SectionServices/>
		<SectionAbout/>
		<SectionClients/>
		<SectionBrands/>
		<Contact/>
	</main>
	<Footer/> 
</Layout>

