---
import {contact} from '../data';
import SectionBase from './sections/SectionBase.astro';
---

<SectionBase id="contactanos">
    <h2 class="text-3xl  font-extrabold text-center lg:text-4xl xl:text-5xl animation-top">{contact.title}</h2>
    
    <div class="mt-10 lg:flex lg:items-center lg:gap-11 lg:justify-between">
        
    <p class="text-md my-10 text-slate-400 text-center lg:text-lg 2xl:text-xl lg:my-10 lg:w-1/2 t-left">{contact.description}</p>
    
    <form action="" class="flex flex-col lg:w-1/2 hero" >
        <input type="email" name="email" id="email" class="w-full border border-slate-600 rounded-md p-3 bg-transparent" placeholder="Ingresa tu correo" required>
        <input type="submit" value="Contactanos" class="mt-5 bg-blue-700 p-4 rounded-xl w-full  hover:bg-blue-600 transition-colors cursor-pointer">
        <p class="text-center mt-5 bg-slate-900 border border-blue-800 rounded-md p-2 hidden" id="msg-ok"></p>
    </form>
    
</div>
</SectionBase>

<script is:inline>
const element = document.querySelector('form');
const msg = document.querySelector('#msg-ok');
element.addEventListener('submit', event => {
  event.preventDefault();
    msg.classList.remove('hidden')
    msg.innerHTML="Gracias por comunicarse con Lopez Informatica."
    element.reset();
    ocultarMsg();
      
});
const ocultarMsg = ()=>{
    setTimeout(() => {
        msg.classList.add('hidden');
    }, 3000);
}
</script>