---
import { Image } from 'astro:assets';
import Facebook from '../assets/iconos/facebook.png';
import Instagram from '../assets/iconos/instagram.png'
import Wsp from '../assets/iconos/whatsapp.png'

---

<footer class="text-slate-300 mt-20  py-10 relative bg-footer-gradient bg-position-footer bg-repeat
">
    <div class="mt-20 flex flex-col justify-center items-center max-w-3xl mx-auto lg:flex-row lg:justify-between ">
        <div>
            <p class="text-xl">Seguinos en nuestras redes</p>
                <ul class="flex  justify-center items-center gap-2 mt-5">
                    <li class="w-12 h-12"><a href="#" class="text-lg"><Image class=" hover:border hover:border-blue-900 hover:rounded-full p-2" src={Facebook} alt='icon-facebook'/></a></li>
                    <li class="w-12 h-12"><a href="#" class="text-lg"><Image class=" hover:border hover:border-blue-900 hover:rounded-full p-2" src={Instagram} alt='icon-facebook'/></a></li>
                    <li class="w-12 h-12"><a href="#" class="text-lg"><Image   class=" hover:border hover:border-blue-900 hover:rounded-full p-2" src={Wsp} alt='icon-facebook'/></a></li>
                </ul>
        </div>
        <div>
            
            <p class="mt-8 lg:mt-0 text-slate-400">Design by 
                <span class=" font-bold bg-gradient-to-r from-blue-700 via-blue-600 to-blue-500 inline-block text-transparent bg-clip-text">Fede Herrera</span> 
            </p> 
        </div>
    </div>
    
</footer>