---
import {about,titleApp} from '../data'
import Nav from "./Nav.astro";

---
<header class="relative text-slate-200 pb-10 bg-custom-gradient">
    <Nav/>
    <div class="lg:max-w-5xl lg:gap-9 xl:max-w-6xl 2xl:max-w-7xl my-32 px-4 lg:px-10"> 
        <h1 class="pt-10 text-3xl font-extrabold tracking-wider  md:text-5xl  lg:text-6xl xl:text-7xl t-left">{about.title}</h1>
        <p class="text-md  text-slate-400 my-10 md:text-left lg:text-lg xl:text-xl t-left">
            <span class=" font-bold bg-gradient-to-r from-blue-700 via-blue-600 to-blue-500 inline-block text-transparent bg-clip-text">
                {titleApp} </span>{' '}{about.description}</p>
    </div>
</header>


