---
interface Props {
    text:string
}
const {text} = Astro.props;
---
<span class=" font-bold bg-gradient-to-r from-blue-700 via-blue-600 to-blue-500 inline-block text-transparent bg-clip-text">{text}</span>

